/* Sticky footer */
* {
margin: 0;
}
html, body {
background: #eceadf url(/wcs/plugins/jquery-ui/css/pepper-grinder/images/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat;
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto;
margin: 0 auto -2em;
}
.footer, .push {
height: 2em;
}

/* Remove the boarder of tabs  */
.ui-widget-content { border: none;}

/* Indicate title with tabs  */
#tabs { position: relative; }

/* floating right inverts the order of the <li> ! */
/*.ui-tabs .ui-tabs-nav li { float: right !important; }*/ 

.ui-tabs .ui-tabs-nav { height: 2.35em; text-align: right; }
.ui-tabs .ui-tabs-nav li { display: inline-block; float: none; margin:0; }

.ui-tab-title { position: absolute; left: 20px; top: 15px; }


.columnline {
	color : red;
}

.rowline {
	color : white;
}

.labelfield {
	padding-left: 10px;
	float: left;
	width: 480px;
}

.inputfield {
	

}

.textboxInput{
	margin-top: 0.48px;
	margin-bottom: 0.48px;
	width: 375px;
}

.commentboxInput{
	margin-top: 0.48px;
	margin-bottom: 0.48px;
	width: 375px; 
	height: 84px;
}

.generalborderframe, .borderframe
{
	border: 1px solid #d9d6c4;
	padding: 20px;
	margin-left: 120px;
	margin-right: 120px;
	width: auto;
	height: auto;
	background: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.borderframe {	
	margin-left: 50px;
	margin-right: 50px;	
}

.copyrightfooter
{
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

img.center { display: block; margin-left: auto; margin-right: auto; }

table.tablesorter
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

a[href].tdlinks {
	color: red;
	font: bold;	
	}
	
	a[href].filelinks {
	color: blue;
	font: bold;	
	}
	
	a[href].abled {
	color: blue;
	font: bold;	
	}
	
	a[href].disabled {		
	pointer-events: none;
   cursor: default;
   TEXT-DECORATION: NONE;
	}
	
	table#resultstable {
	width: auto;
	
	}
textarea:focus, input:focus
{
background-color: #cbdfeb;   // #97bfd9
}

	
.ui-tabs .generaltab {
	
	overflow-x: auto;
	overflow-y: auto;
}

/*
.ui-tabs .historytab {
	width: auto;
	overflow-x: block;
	overflow-y: block;
}


.historytab .ui-tabs-nav  {
margin: 0;
padding: .2em .2em 0;
width: 128%;
}
*/

#scrollUp {
	bottom: 20px;
	right: 20px;
	background: #C0C0C0;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 10px 20px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	transition: background 200ms linear;
	-webkit-backface-visibility: hidden;
}
	#scrollUp:hover {
		background: #808080;
	}

