.columnline {
	color : red;
}

.rowline {
	color : white;
}

.labelfield {
	padding-left: 20px;
	float: left;
	width: 550px;
}

.inputfield {
	

}

.textboxInput{
	margin: 2px;
	width: 375px;
}

.commentboxInput{
	margin: 2px; 
	width: 375px; 
	height: 84px;
}

.borderframe {
	border:2px double white;
	padding: 10px;
	width: auto;
	height: auto;
}

a[href].tdlinks {
	color: red;
	font: bold;	
	}
	
	a[href].filelinks {
	color: blue;
	font: bold;	
	}
	
	table#resultstable {
	width: 60%;
	
	}
textarea:focus, input:focus
{
background-color: #cbdfeb;   // #97bfd9
}
#smasize {
	font-size: 80%;
	}
	
	
	/* pager wrapper, div */
.pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.pager {
  background-color: #e6eeee;
}
/* pager navigation arrows */
.pager img {
  vertical-align: middle;
  margin-right: 2px;
}
/* pager output text */
.pager .pagedisplay {
  font-size: 11px;
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/*** loading ajax indeterminate progress indicator ***/
#tablesorterPagerLoading {
  background: rgba(255,255,255,0.8) url(icons/loading.gif) center center no-repeat;
  position: absolute;
  z-index: 1000;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#target { padding: 5px; border: 1px solid #000; width:200px; float:right }
/*
.cJobId{ 					width: 30px;	}		
.cOrigin{					width: 30px;	}		
.cJobTitle{					width: 30px;	}		
.cCreatedDate{				width: 30px;	}		
.cCreatedBy{				width: 30px;	}		
.cNumberOfSentences{		width: 30px;	}	
.cTypeofUnits{				width: 30px;	}	
.cTemplate{					width: 30px;	}	
.cMaxJudgmentPerWorker{ 	width: 30px;	}	
.cUnitsPerAssignment{		width: 30px;	}
.cUnitsPerJob{				width: 30px;	}	
.cJudgmentsPerUnit{			width: 30px;	}	
.cJudgmentsPerJob{			width: 30px;	}	
.cSecondsPerUnit{			width: 30px;	}	
.cSecondsPerAssignment{		width: 30px;	}
.cPaymentPerUnit{			width: 30px;	}
.cPaymentPerAssignment{		width: 30px;	}
.cTotalPaymentPerUnit{		width: 30px;	}
.cTotalPaymentPerJob{		width: 30px;	}
.cPaymentPerHour{			width: 30px;	}	
.cChannelUsed{				width: 30px;	}		
.cChannelsPercentage{		width: 30px;	}
.cComments{ 				width: 30px;	}
.cJobJudgmentsMade{			width: 30px;	}
.cJobCompletion{			width: 30px;	}
.cRunTime{					width: 30px;	}		
.cAverageTimePerJob{		width: 30px;	}
.cMinTimePerJob{			width: 30px;	}
.cMaxTimePerJob{			width: 30px;	}
.cNumberFilteredSentences{	width: 30px;	}
.cTotalNumberofWorkers{		width: 30px;	}	
.cNumberFilteredWorkers{	width: 30px;	}
.cStatus{					width: 30px;	}		
.cActions{					width: 30px;	}	
.cJobIDLinktoOrigin{ 		width: 30px;	}
*/
.tablesorter-default {width: auto;}