.columnline {
	color : red;
}

.rowline {
	color : white;
}

.labelfield {
	padding-left: 20px;
	float: left;
	width: 550px;
}

.inputfield {
	

}

.textboxInput{
	margin: 2px;
	width: 375px;
}

.commentboxInput{
	margin: 2px; 
	width: 375px; 
	height: 84px;
}

.borderframe {
	border:2px double white;
	padding: 10px;
	width: auto;
	height: auto;
}

a[href].tdlinks {
	color: red;
	font: bold;	
	}
	
	a[href].filelinks {
	color: blue;
	font: bold;	
	}
	
	table#resultstable {
	width: 60%;
	
	}
textarea:focus, input:focus
{
background-color: #cbdfeb;   // #97bfd9
}
#smasize {
	font-size: 80%;
	}
	
	
	/* pager wrapper, div */
.pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.pager {
  background-color: #e6eeee;
}
/* pager navigation arrows */
.pager img {
  vertical-align: middle;
  margin-right: 2px;
}
/* pager output text */
.pager .pagedisplay {
  font-size: 11px;
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/*** loading ajax indeterminate progress indicator ***/
#tablesorterPagerLoading {
  background: rgba(255,255,255,0.8) url(icons/loading.gif) center center no-repeat;
  position: absolute;
  z-index: 1000;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.pager img.disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
}





/*#target { padding: 5px; border: 1px solid #000; width:200px; float:right }*/

/*td.cJobId{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cOrigin{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cJobTitle{		width: 20em; 


overflow:hidden;
height: 30px;

}		
td.cCreatedDate{		width: 20em; 


overflow:hidden;
height: 30px;

}		
td.cCreatedBy{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cNumberOfSentences{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cTypeofUnits{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cTemplate{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cMaxJudgmentPerWorker{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cUnitsPerAssignment{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cUnitsPerJob{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cJudgmentsPerUnit{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cJudgmentsPerJob{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cSecondsPerUnit{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cSecondsPerAssignment{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cPaymentPerUnit{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cPaymentPerAssignment{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cTotalPaymentPerUnit{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cTotalPaymentPerJob{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cPaymentPerHour{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cChannelUsed{		width: 20em; 


overflow:hidden;
height: 30px;

}		
td.cChannelsPercentage{		width: auto; 

display:block;
overflow:hidden;
height: 55px;

}
td.cComments{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cJobJudgmentsMade{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cJobCompletion{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cRunTime{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cAverageTimePerJob{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cMinTimePerJob{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cMaxTimePerJob{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cNumberFilteredSentences{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cTotalNumberofWorkers{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cNumberFilteredWorkers{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cStatus{		width: 20em; 


overflow:hidden;
height: 30px;

}	
td.cActions{		width: 20em; 


overflow:hidden;
height: 30px;

}
td.cJobIDLinktoOrigin{		width: 20em; 


overflow:hidden;
height: 30px;

}
.tablesorter-default {width: auto;}  */