.columnline {
	color : red;
}

.rowline {
	color : white;
}

.labelfield {
	padding-left: 20px;
	float: left;
	width: 400px;
}

.inputfield {
	

}

.textboxInput{
	margin: 2px;
	width: 375px;
}

.commentboxInput{
	margin: 2px; 
	width: 375px; 
	height: 84px;
}

.borderframe {
	border:2px double white;
	padding: 10px, ,;
}
