<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/edu.vu.crowds/src/edu/vu/crowds/CrowdMedRelEx12.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.vu.crowds.CrowdMedRelEx12"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:\Users\IBM_ADMIN\Desktop\Dropbox\Crowd-Watson\DATA\New-RelEx-Task (CF Output)\Analysis\merge-f354237-f354372-f354375.csv&quot;&#13;&#10;&quot;C:\Users\IBM_ADMIN\Desktop\Dropbox\Crowd-Watson\DATA\New-RelEx-Task (CF Output)\Analysis\merge-f354237-f354372-f354375-workers.csv&quot;&#13;&#10;&quot;C:\Users\IBM_ADMIN\Desktop\Dropbox\Crowd-Watson\DATA\New-RelEx-Task (CF Output)\Analysis\merge-f354237-f354372-f354375-hqw-sents.csv&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="edu.vu.crowds"/>
</launchConfiguration>