<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/edu.vu.crowds/src/edu/vu/crowds/CrowdMedRelEx12.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.vu.crowds.CrowdMedRelEx12"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/anca/Documents/CF_exp/output/RelEx/RelEx_compl_merged.csv&quot;&#13;&#10;&quot;/home/anca/Documents/CF_exp/output/RelEx/RelEx_compl_merged-workers.csv&quot;&#13;&#10;&quot;/home/anca/Documents/CF_exp/output/RelEx/RelEx_compl_merged-sents.csv&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="edu.vu.crowds"/>
</launchConfiguration>