<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/edu.vu.crowds/src/edu/vu/crowds/CrowdMedRelDir.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.vu.crowds.CrowdMedRelDir"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/anca/Dropbox/Watson-Crowdsourcing/DATA/Paper-Data/preliminary-1-RelDir-ManualSpan/CF_RelDir_Uncorrected.csv&quot;&#13;&#10;&quot;/home/anca/Dropbox/Watson-Crowdsourcing/DATA/Paper-Data/preliminary-1-RelDir-ManualSpan/CF_RelDir_Uncorrected-workers.csv&quot;&#13;&#10;&quot;/home/anca/Dropbox/Watson-Crowdsourcing/DATA/Paper-Data/preliminary-1-RelDir-ManualSpan/CF_RelDir_Uncorrected-sents.csv&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="edu.vu.crowds"/>
</launchConfiguration>